td, th {
    text-align: center;
}

#storage_detail {
    height: 50rem;
    width: 76%;
    overflow-y: scroll;
}

#search_storage_detail {
    margin: 0 2rem 4rem 2rem;
    float: right;
    position: relative;
    right: 10%;"
}

#storage_detail_submit {
    margin: 0 1rem;
}

#storage_detail_title,#storage_detail_footer {
    margin: 0 2rem;
    padding: 0 2rem;
    height: 4rem;
}

#storage_detail {
    margin: 0 2rem;
    padding: 0 2rem;
}

#clear_storage, #submit_storage {
    margin: 0 2rem;
}

.storage_detail {
    cursor: pointer;
    color: #337ab9;
}

.storage_detail:hover {
    color: #337ab9;
    cursor: pointer;
    text-decoration-line: underline;
}

#storage_detail_footer th {
    text-align: center;
}

#storage_report_info td {
    text-align: left;
}

#storage_report_info_section {
    margin: 2rem;
    font-size: 1.5rem;
}

#cust_condition {
    width: 14rem;
}

#modify_translation_expense {
    cursor: pointer;
    color: #337ab9;
}

#modify_translation_expense:hover {
    cursor: pointer;
    color: #337ab9;
    text-decoration-line: underline;
}