td, th {
    text-align: center;
}

#statement_detail {
    height: 45rem;
    width: 76%;
    overflow-y: scroll;
}

#search_storage_detail {
    margin: 0 2rem 4rem 2rem;
    float: right;
    position: relative;
    right: 10%;
"
}

#statement_detail_submit {
    margin: 0 1rem;
}

#statement_detail_title, #statement_detail_footer {
    margin: 0 2rem;
    padding: 0 2rem;
    height: 4rem;
}

#statement_detail {
    margin: 0 2rem;
    padding: 0 2rem;
}

#clear_storage, #submit_storage {
    margin: 0 2rem;
}

.storage_detail {
    cursor: pointer;
    color: #337ab9;
}

.storage_detail:hover {
    color: #337ab9;
    cursor: pointer;
    text-decoration-line: underline;
}

#statement_detail_footer th {
    text-align: center;
}

#statement_report_info td {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    text-align: left;
}

#statement_report_info_section {
    margin: 4rem 2rem 4rem 2rem;
    font-size: 1.5rem;
}

#cust_condition {
    width: 14rem;
}

#change_income {
    color: #337ab9;
    cursor: pointer;
}

#change_income_input {
    height: 2rem;
    width: 10rem;
    padding: 0;
    margin: 0 auto;
}