table th, td {
    text-align: center;
}

ul li {
    float: left;
    margin: 0 2rem;
}

#storage_in_detail_head {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
}

#storage_in_detail_body_section {
    height: 50rem;
    overflow-y: scroll;
}

#storage_in_detail_body {
    position: relative;
    left: 0.5%;
    width: 87%;
    margin-left: auto;
    margin-right: auto;
}

#type_selice {
    margin-left: 2rem;
    margin-top: 2rem;
}

#select_type {
    display: none;
}

#edit_count {
    height: 2rem;
    width: 8rem;
}

#storage_in_id, #total_count{
    font-size: 14px;
    line-height: 14px;
}

#action_control button {
    margin: 1rem 0.5rem;
}

#action_control {
    text-align: center;
}

#commit_edit {
    display: none;
}